snippet clear "clear float class"
.clear:before,.clear:after { content:' '; display:table; }
.clear:after { clear:both; }
.clear { *zoom:1;}
endsnippet

snippet wrap "wrap content into mid"
.wrap {
  max-width: 1200px;
  width:100%;
  margin: 0 auto;
}
endsnippet
